@charset "UTF-8";
html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 0;
  min-height: 100vh; }

/*Полоса прокрутки*/
body::-webkit-scrollbar {
  width: .8rem; }

body::-webkit-scrollbar-thumb {
  background-color: #B10802;
  outline: 1px solid #B10802; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #fff; }

a:hover {
  text-decoration: none;
  color: #fff; }

.weightDefault {
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 25px; }

.top-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 19px; }

.upper {
  text-transform: uppercase; }

.special-txt {
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic; }

.big-txt {
  font-size: 1.875rem; }

.title-default {
  font-size: 2.25rem;
  line-height: 49px;
  letter-spacing: 0.1em;
  color: #B10802;
  text-transform: uppercase; }

.paddingNone {
  padding: 0 !important; }

@media screen and (max-width: 769px) {
  body {
    font-size: 12px; }
  .title-default {
    font-size: 1.8rem; } }

@media screen and (max-width: 576px) {
  .title-default {
    font-size: 1.5rem; }
  .product-description__name {
    font-size: 1.6rem; }
  .footer-phone {
    font-size: 1.125rem; } }

.footer-container {
  background-color: #333; }

.footer-navbar {
  max-width: 990px !important; }

.myNavLink {
  font-weight: 400 !important;
  font-size: 1.125rem !important;
  line-height: 25px !important;
  color: #fff !important;
  letter-spacing: 0.06em !important;
  text-transform: uppercase !important; }

.myLinkAbout {
  font-style: normal !important;
  font-weight: 100 !important;
  font-size: 1.125rem !important;
  line-height: 25px !important;
  color: #fff !important; }

.newNavLink {
  font-size: 1.125rem !important;
  line-height: 25px !important;
  color: #fff !important; }

.footerTxt {
  font-size: 0.875rem !important;
  line-height: 19px !important;
  color: #fff !important; }

.footer-title {
  text-align: center !important;
  text-transform: uppercase !important;
  margin-bottom: 10px !important; }

.delivery-txt:not(:last-child) {
  margin-bottom: 14px !important; }

.pay-txt:not(:last-child) {
  margin-bottom: 14px !important; }

.footer-adress {
  font-size: 0.75rem;
  line-height: 19px;
  color: #fff; }
  .footer-adress__txt {
    font-size: 1.1rem;
    line-height: 16px; }

.footer-phone {
  font-size: 1 rem;
  line-height: 33px;
  letter-spacing: 0.09em;
  color: #fff; }

.social-mobile {
  display: none; }

@media screen and (max-width: 769px) {
  .footer-navbar {
    display: none !important; }
  .footer-info__delivery {
    margin-top: 20px; }
  .footer-info__pay {
    margin-top: 20px; } }

@media screen and (max-width: 576px) {
  .footer-info__number {
    align-items: center; }
  .footer-info__about {
    display: none !important; }
  .footer-info__delivery {
    display: none !important; }
  .footer-info__pay {
    display: none !important; }
  .footer-adress {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px; }
  .social-mobile {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset; }
  .social__link-mobile:not(:last-child) {
    margin-right: 20px; } }

.bottom-box__pin {
  width: 12px;
  height: 16px; }

.bottom-box__phone {
  width: 16px;
  height: 16px; }

.bottom-box__townName {
  color: #B10802; }

.bottom-box__number {
  color: #B10802; }
  .bottom-box__number:hover {
    color: #B10802; }

.basket__img {
  position: relative; }

.basket__number {
  color: #B10802; }

.special-offer {
  position: relative;
  width: 100%;
  background: #028B0B;
  box-shadow: 0px 5px 31px rgba(0, 0, 0, 0.4); }
  .special-offer__close {
    position: absolute;
    right: 14px;
    top: 4px;
    cursor: pointer;
    font-size: 1.875rem; }
  .special-offer__txt {
    width: 90%;
    margin-left: 5%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 33px;
    letter-spacing: 0.205em; }

.dropdown-toggle::after {
  display: none; }

.myDropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; }

.myNavBar {
  background-color: #B10802; }

.navbar {
  padding: 10px !important; }

.nav-link:hover {
  background-color: #8b0000 !important; }

.dropdown-menu {
  background-color: #B10802 !important;
  border: none !important;
  border-radius: 0 !important; }

.navbar-toggler {
  padding: 0; }

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #8b0000; }

.navbar-nav .nav-link {
  padding-left: 10px !important; }

.myDropdown__btn {
  background-color: #fff;
  border: none; }

.select {
  position: relative; }
  .select:after {
    display: none !important; }

.select select {
  display: block;
  width: 100%;
  background: none;
  border: none;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  padding: 0px 10px 0px 10px; }

.basket-block {
  display: none !important; }

.fixed-top__basket {
  position: fixed;
  top: 16px;
  right: 10px;
  z-index: 10000; }

.second-navbar,
.dropdown-divider {
  display: none !important; }

.nav-info {
  width: 80%;
  display: none; }

.mobile-cross {
  display: none; }

.option-container {
  color: #fff;
  background-color: #B10802 !important; }

.phone-container {
  display: flex;
  flex-direction: column; }

.navbar-dark .navbar-toggler {
  border: none; }

.nav-info {
  display: none; }

button:focus {
  outline: none; }

@media screen and (max-width: 1025px) {
  /* .top-header {

        &__chooseTown {
            display: flex !important;
            flex-direction: column !important;
            justify-content: space-between !important;
        }

        &__delivery {
            display: flex !important;
            flex-direction: column !important;
            justify-content: space-between !important;
        }

        &__number {
            display: flex !important;
            flex-direction: column !important;
            justify-content: space-between !important;
        }
    }*/ }

@media screen and (max-width: 769px) {
  .logo-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
    margin-bottom: 20px; }
  .basket-block {
    display: flex !important; }
  .special-offer__txt {
    font-size: 1.2rem; }
  .special-offer__close {
    top: 3px; }
  .second-navbar,
  .dropdown-divider {
    display: block !important; } }

@media screen and (max-width: 576px) {
  .nav-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .special-offer__txt {
    font-size: 1rem; }
  .special-offer__close {
    top: 20px; }
  .top-header__chooseTown {
    display: none !important; }
  .top-header__delivery {
    display: none !important; }
  .top-header__number {
    display: none !important; }
  .logo-container {
    width: 50%;
    margin-bottom: 0; }
  .logo-container img {
    width: 100%; } }

@media screen and (max-width: 321px) {
  .special-offer__txt {
    font-size: 0.8rem; } }

.myCards {
  position: relative;
  background: #fff;
  height: 350px; }
  .myCards__btn {
    display: none !important; }

.myContainer {
  position: absolute;
  width: 92%;
  height: inherit;
  transition: all 0.3s linear; }

.cardContainer {
  margin: 0 auto;
  margin-bottom: 100px !important; }

/* При наведении*/
.myCards:hover .myContainer {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
  background-color: #fff;
  height: auto; }

.myCards:hover .myCards__btn {
  display: flex !important; }

.myCards:hover .size {
  display: none; }

/*---------------*/
.myBtn, .reviews-btn, .myBtn-product {
  margin: 0 auto;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #fff;
  border: 2px solid #B10802;
  transition: all 0.5s linear;
  font-size: 1.125rem;
  line-height: 30px;
  letter-spacing: 0.27em;
  text-transform: uppercase; }

/*Кнопка заказать*/
.myBtn {
  width: 250px; }
  .myBtn:hover {
    color: #fff;
    background-color: #B10802; }

/*----------------*/
.feature {
  position: absolute;
  top: 60%;
  color: #fff;
  font-size: 1.125rem;
  line-height: 33px;
  width: 250px;
  text-transform: uppercase;
  z-index: 11;
  transition: all 0.3s linear; }
  .feature__txt {
    margin: 0;
    text-align: center; }

.slider__item {
  height: 30vw !important;
  min-height: 250px !important; }

.size {
  position: absolute;
  top: 27px;
  color: grey;
  right: 17%;
  font-size: 0.75rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  font-size: 1 rem; }
  .size__left {
    background: url(../img/w.png) no-repeat;
    background-position: 0px 20px; }
    .size__left--txt {
      width: 30px;
      height: 30px;
      text-align: center !important; }
  .size__right {
    background: url(../img/h.png) no-repeat; }
    .size__right--txt {
      padding-left: 6px; }

img.imgW {
  width: 250px !important; }

.myLink {
  color: #B10802 !important; }

.main-slider-container {
  position: relative; }

.next {
  position: absolute;
  top: 45%;
  right: 20px; }

.prev {
  position: absolute;
  top: 45%;
  left: 20px; }

.padingNone {
  padding-right: 0px !important;
  padding-left: 0px !important; }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  margin: 0;
  padding: 10px 0;
  list-style-type: none; }
  .slick-dots li {
    margin: 0; }
  .slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #b1080280 !important;
    text-indent: -9999px; }
  .slick-dots li.slick-active button {
    background-color: #B10802 !important; }

/*Картинки для  главного слайдера*/
.first-sl {
  background: url(../img/image.png) no-repeat center;
  background-size: cover; }

.second-sl {
  background: url(../img/image.png) no-repeat center;
  background-size: cover; }

.third-sl {
  background: url(../img/image.png) no-repeat center;
  background-size: cover; }

.advantages-card {
  padding: 25px 28px 25px 28px;
  width: 30%;
  border: 1px solid #B10802;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .advantages-card__title {
    color: #B10802;
    word-break: break-all; }
  .advantages-card__txt {
    text-align: center;
    word-break: break-all; }

.advantages-card {
  margin: 0 15px; }

.reviews__item {
  padding: 25px 28px 25px 28px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin: 2px 15px; }
  .reviews__item--txt {
    font-size: 1.125rem;
    line-height: 25px;
    color: #333; }
  .reviews__item--city {
    font-size: 0.75rem;
    line-height: 16px;
    color: #333; }

.reviews-container {
  position: relative; }

.next-reviews {
  position: absolute;
  top: 45%;
  right: -10px; }

.prev-reviews {
  position: absolute;
  top: 45%;
  left: -10px; }

.reviews-name {
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.075em;
  color: #000; }

.reviews-date {
  font-size: 0.625rem;
  line-height: 16px;
  color: #333; }

.reviews-title {
  color: #333 !important; }

.reviews-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  width: 250px;
  height: 32px;
  font-size: 1rem;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #B10802; }

.reviews-btn:hover {
  background-color: #B10802; }

@media screen and (max-width: 1025px) {
  .next-reviews {
    position: absolute;
    top: 40%;
    right: 20px; }
  .prev-reviews {
    position: absolute;
    top: 40%;
    left: 20px; } }

@media screen and (max-width: 769px) {
  .advantages-card {
    width: 45%;
    margin-top: 20px; }
  .next-reviews {
    position: absolute;
    top: 40%;
    right: -5px; }
  .prev-reviews {
    position: absolute;
    top: 40%;
    left: -5px; } }

@media screen and (max-width: 576px) {
  .myContainer {
    width: 100%; }
  .advantages-container {
    justify-content: center !important; }
  .advantages-card {
    width: 80%;
    border: none; }
  .next-reviews {
    position: absolute;
    top: 40%;
    right: 5px; }
  .prev-reviews {
    position: absolute;
    top: 40%;
    left: 5px; } }

/*
.test{
    margin: 0 7px;
}


.test1{
    background: tomato;
}

.test2{
    background: seagreen;
}

.test3{
    background: sienna;
}

.test4{
    background: skyblue;
}

.test5{
    background: sandybrown;
}*/
.slider-for__itemN {
  width: 570px;
  height: 570px !important; }

.slider-for__itemN img {
  width: 100% !important;
  height: 100% !important; }

.slider-nav__itemN img {
  width: 96% !important;
  height: 100% !important;
  margin: 0 auto; }

.slider-nav__itemN:not(:last-child) {
  margin-bottom: 30px; }

/* Красная обводка */
.slider-nav__itemN:focus {
  border: 2px solid #B10802 !important; }

.slider-nav__itemN:active {
  border: 2px solid #B10802 !important; }

.slider-nav__itemN:active {
  border: 2px solid #B10802 !important; }

.slider-nav__itemN:focus {
  border: 2px solid #B10802 !important; }

.myBtn-product {
  width: 100%; }

.flowers-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 22px;
  color: #343434;
  word-break: break-all; }

.flowers-price {
  font-size: 1.5rem;
  line-height: 33px; }

/* Кол-во товара */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  font-size: 20px;
  align-items: center; }

.quantity-arrow-minus,
.quantity-arrow-plus {
  cursor: pointer; }

.quantity-num {
  outline: none;
  width: 71px !important;
  height: 26px;
  text-align: center; }

/*-----------------------*/
.product-description__title {
  width: 100%;
  text-align: center;
  background-color: #79CB00;
  font-size: 20px;
  letter-spacing: 0.27em;
  color: #fff;
  text-transform: uppercase;
  padding: 6px 0 6px 0; }

.product-description__name {
  font-size: 30px;
  line-height: 49px;
  letter-spacing: 0.075em;
  color: #333;
  word-break: break-all; }

.product-description__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset; }
  .product-description__box--price {
    font-size: 30px;
    line-height: 49px;
    letter-spacing: 0.075em;
    color: #B10802; }

.composition-title {
  color: #B10802;
  font-style: italic;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px; }

.reviews__item {
  padding: 25px 28px 25px 28px;
  width: 30%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); }
  .reviews__item--name {
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.075em;
    color: #000; }
  .reviews__item--date {
    font-size: 10px;
    line-height: 16px;
    color: #333; }
  .reviews__item--txt {
    font-size: 18px;
    line-height: 25px;
    color: #333; }

.reviews-title {
  color: #333 !important; }

.slick-track .slick-track {
  display: none; }

.displayNone {
  display: none; }

/*Медиа*/
@media screen and (min-width: 1025px) {
  .slider-nav__itemN {
    width: 170px !important;
    height: 170px !important; } }

@media screen and (max-width: 1025px) {
  .slider-for__itemN {
    height: 480px !important; } }

@media screen and (max-width: 769px) {
  /* .reviews__item {
        width: 45%;
    }*/
  .reviews__item:not(:last-child) {
    margin-bottom: 20px; }
  .slider-navN {
    margin-top: 30px; }
  .slider-forN {
    order: -1; }
  .slider-nav__itemN {
    height: 170px !important; }
  .slider-nav__itemN {
    margin: 0px 1px; }
  .slider-nav__itemN:not(:last-child) {
    margin-bottom: 0px; }
  .product-description {
    margin-top: 30px; }
  .slider-navN {
    height: 170px !important; } }

@media screen and (max-width: 576px) {
  .reviews__item {
    width: 100%; }
  .reviews__item:not(:last-child) {
    margin-bottom: 20px; }
  .slider-for__itemN {
    height: auto !important; }
  .slider-for__itemN img {
    height: 30vw !important;
    min-height: 280px !important; }
  * .product-description__buy .myBtn {
    width: 100% !important; }
  .slider-navN {
    height: 115px !important; }
  .slider-nav__itemN {
    height: 115px !important; } }

@media screen and (max-width: 331px) {
  .slider-navN {
    height: 100px !important; }
  .slider-nav__itemN {
    height: 100px !important; } }

.basket-table {
  width: 100%; }

.table-header {
  background-color: #c4c4c44f;
  width: 100%;
  text-align: left; }

.itemphoto {
  width: 170px;
  padding: 15px; }

.table-header td {
  padding-left: 15px; }

.itemphoto img {
  width: 100%;
  height: auto; }

.itemTxt {
  padding: 15px; }

.itemPrice {
  width: 120px;
  padding: 15px; }

.itemCustom {
  width: 120px;
  padding: 15px; }

.itemTotal {
  width: 140px;
  padding: 15px; }

.itemDelete {
  text-align: center;
  width: 54px;
  padding: 15px; }

.tableBody {
  text-align: left;
  vertical-align: top; }

.table-box {
  border-bottom: 1px solid #000;
  margin: 15px; }

.basket-quantity {
  width: 12px; }

.basketQuantity-num {
  width: 65px !important;
  height: 23px; }

.basket-additive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  margin: 25px 0px; }

.additive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .additive__icon {
    width: 27px;
    margin-right: 10px; }
  .additive__check {
    margin-right: 10px; }
  .additive__txt {
    font-size: 0.875rem;
    line-height: 19px;
    color: #000; }

.custom-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  margin-bottom: 0; }

.custom-check input {
  display: none; }

.additive__check {
  height: 17px;
  width: 17px;
  border: 1px solid gray;
  display: inline-block;
  position: relative;
  background-color: #FFF; }

[type=checkbox]:checked + .additive__check:before {
  content: '\2714';
  position: absolute;
  top: -7px;
  left: 0;
  font-size: 20px;
  color: green; }

.totalPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .totalPrice__txt {
    font-size: 1.5rem;
    line-height: 33px;
    color: #333;
    margin-bottom: 0;
    margin-right: 10px; }
  .totalPrice__sum {
    font-size: 1.5rem;
    line-height: 33px;
    color: #333;
    margin-bottom: 0;
    font-weight: bold; }

.basket-delivery__title {
  font-size: 24px;
  line-height: 33px;
  color: #333; }

.basket-delivery__box {
  display: flex;
  flex-direction: column; }

.delivery-item {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .delivery-item__radio {
    margin-right: 10px; }

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

[type="radio"]:checked + .delivery-item__txt,
[type="radio"]:not(:checked) + .delivery-item__txt {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block; }

[type="radio"]:checked + .delivery-item__txt:before,
[type="radio"]:not(:checked) + .delivery-item__txt:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #000;
  border-radius: 100%;
  background: #fff; }

[type="radio"]:checked + .delivery-item__txt:after,
[type="radio"]:not(:checked) + .delivery-item__txt:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #028B0B;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

[type="radio"]:not(:checked) + .delivery-item__txt:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

[type="radio"]:checked + .delivery-item__txt:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }
