.bottom-box {

    &__pin {
        width: 12px;
        height: 16px;
    }

    &__phone {
        width: 16px;
        height: 16px;
    }

    &__townName {
        color: $red;
    }

    &__number {
        color: $red;

        &:hover {
            color: $red;
        }
    }
}

.basket {

    &__img {
        position: relative;
    }

    &__number {
        color: $red;
    }
}


.special-offer {
    position: relative;
    width: 100%;
    background: $green;
    box-shadow: 0px 5px 31px rgba(0, 0, 0, 0.4);

    &__close {
        position: absolute;
        right: 14px;
        top: 4px;
        cursor: pointer;
        font-size: 1.875rem;
    }

    &__txt {
        width: 90%;
        margin-left: 5%;
        text-align: center;
        font-size: 1.5rem;
        line-height: 33px;
        letter-spacing: 0.205em;
    }
}

.dropdown-toggle::after {
    display: none;
}

.myDropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.myNavBar {
    background-color: $red;
}

.navbar {
    padding: 10px !important;
}

.nav-link:hover {
    background-color: $darkRed !important;
}

.dropdown-menu {
    background-color: $red !important;
    border: none !important;
    border-radius: 0 !important;
}

.navbar-toggler {
    padding: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: $darkRed;
}

.navbar-nav .nav-link {
    padding-left: 10px !important;
}

.myDropdown__btn {
    background-color: $white;
    border: none;
}

.select {
    position: relative;

    &:after {
        display: none !important;
    }
}

.select select {
    display: block;
    width: 100%;
    background: none;
    border: none;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    padding: 0px 10px 0px 10px;
}

.basket-block {
    display: none !important;
}

.fixed-top__basket {
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 10000;
}

.second-navbar,
.dropdown-divider {
    display: none !important;
}

.nav-info {
    width: 80%;
    display: none;
}

.mobile-cross {
    display: none;
}

.option-container {
    color: $white;
    background-color: $red !important;
}

.phone-container {
    display: flex;
    flex-direction: column;
}

.navbar-dark .navbar-toggler {
    border: none;
}

.nav-info {
    display: none;
}

button:focus {
    outline: none;
}

@media screen and (max-width:1025px) {
    .top-header {

        &__chooseTown {
            display: flex !important;
            flex-direction: column !important;
            justify-content: space-between !important;
        }

        &__delivery {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__number {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

@media screen and (max-width: 769px) {
    .logo-container {
        width: 100%;
        @include dflex(center, unset);
        margin-bottom: 20px;
    }

    .basket-block {
        display: flex !important;
    }



    .special-offer {

        &__txt {
            font-size: 1.2rem;
        }

        &__close {
            top: 3px;
        }
    }

    .second-navbar,
    .dropdown-divider {
        display: block !important;
    }

}

@media screen and (max-width: 425px) {

    .nav-info {
        @include dflex(space-between, center);
    }

    .special-offer {

        &__txt {
            font-size: 1rem;
        }

        &__close {
            top: 20px;
        }
    }

    .top-header {

        &__chooseTown {
            display: none !important;
        }

        &__delivery {
            display: none !important;
        }

        &__number {
            display: none !important;
        }
    }

    .logo-container {
        width: 50%;
        margin-bottom: 0;
    }

    .logo-container img {
        width: 100%;
    }


}

@media screen and (max-width: 321px) {
    .special-offer {

        &__txt {
            font-size: 0.8rem;
        }
    }
}