<div class="footer-container py-4">
    <div class="footer-navbar row mx-auto  d-flex justify-content-around">
        <a class=" myNavLink footerLink" href="#">Акции </a>
        <a class=" myNavLink footerLink" href="#">Каталог цветов</a>
        <a class=" myNavLink footerLink" href="#">Букеты и композиции</a>
        <a class=" myNavLink footerLink" href="#">свадебные букеты </a>
        <a class=" myNavLink footerLink" href="#">подарки </a>
    </div>

    <div class="footer-info mt-md-4 container row mx-auto">
        <div class="footer-info__about d-flex flex-column justify-content-between col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <div class="newNav d-flex flex-column">
                <a href="#" class="about-link myLinkAbout">
                    О компании
                </a>
                <a href="#" class="about-link myLinkAbout">
                    Новости
                </a>
                <a href="#" class="about-link myLinkAbout">
                    Оплата и доставка
                </a>
                <a href="#" class="about-link myLinkAbout">
                    Адреса магазинов
                </a>
                <a href="#" class="about-link myLinkAbout">
                    Реквизиты
                </a>
                <a href="#" class="about-link myLinkAbout">
                    Для корпоративных клиентов
                </a>
            </div>
            <div class="social mt-2">
                <a class="social__link" href="#">
                    <img class="social__link--vk" src="img/vk_icon.png" alt="vk">
                </a>

                <a class="social__link" href="#">
                    <img class="social__link--inst" src="img/62372-computer-neon-instagram-icons-hd-image-free-png.png"
                        alt="instagram">
                </a>

                <a class="social__link" href="#">
                    <img class="social__link--odn" src="img/603px-Odnoklassniki.png" alt="odnoklassniki">
                </a>
            </div>
        </div>

        <div class="footer-info__number d-flex flex-column justify-content-between col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <div class="footer-phone">
                <div class="bottom-box d-flex align-items-center">
                    <img src="img/Vector (5).png" alt="phone" class="">
                    <a href="tel" class="ml-2">+7 (3532) 452-255</a>
                </div>

                <div class="bottom-box d-flex align-items-center  mt-2">
                    <img src="img/Vector (5).png" alt="phone" class="">
                    <a href="tel" class="ml-2">+7 (3532) 452-255</a>
                </div>
            </div>
            <div class="footer-adress">
                <div class="footer-adress__title">
                    Адрес интернет-магазина:
                </div>

                <div class="footer-adress__txt mt-1">
                    ул.Чкалова, 20
                </div>
            </div>

            <div class="mt-2 social-mobile">
                <a class="social__link social__link-mobile" href="#">
                    <img class="social__link--vk" src="img/vk_icon.png" alt="vk">
                </a>

                <a class="social__link social__link-mobile" href="#">
                    <img class="social__link--inst" src="img/62372-computer-neon-instagram-icons-hd-image-free-png.png"
                        alt="instagram">
                </a>

                <a class="social__link social__link-mobile" href="#">
                    <img class="social__link--odn" src="img/603px-Odnoklassniki.png" alt="odnoklassniki">
                </a>
            </div>
        </div>

        <div class="footer-info__delivery d-flex flex-column justify-content-between col-xs-12 col-sm-12 col-md-6 col-lg-3  ">
            <div class="footer-title footerTxt ">
                Доставка
            </div>
            <p class="delivery-txt footerTxt">
                Доставка от 350 рублей по городу
            </p>
            <p class="delivery-txt footerTxt">
                Стоимость автоматически добавляеться к заказу при выборе варианта с доставкой
            </p>
            <p class="delivery-txt footerTxt">
                В течении 2-х часов или самовывозом
            </p>
        </div>

        <div class="footer-info__pay d-flex flex-column justify-content-between col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <div class="footer-title footerTxt ">
                оплата
            </div>

            <img src="img/image (2).png" alt="pay" class="pay-img mb-3">

            <p class="pay-txt footerTxt">
                -оплата наличными при самовывозе
            </p>

            <p class="pay-txt footerTxt">
                -оплата на карту Сбербанка <br> 5469 0600 1815 0745
            </p>

        </div>

    </div>

</div>