<nav class="navbar navbar-expand-lg navbar-dark myNavBar" id="fix-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        
            <img src="img/burger.png" class="mobile-burger" alt="">

            <img src="../img/cross.png" class="mobile-cross" alt="">
    </button>

    <div class="nav-info">
        <div class="phone-container">
            <a href="tel" class="">+7 (3532) 452-255</a>
            <a href="tel" class="">+7 (3532) 452-255</a>
        </div>

        <div class="city-container">
            <div class="bottom-box d-flex justify-content-between mt-2">
                <img src="img/pin-mob.png" alt="pin" class="bottom-box__pin">
                <!-- <p class="bottom-box__townName weightDefault upper">оренбург</p> -->

                <form action="">
                    <div class="select">
                        <select class="option-container upper">
                            <option class="myOption-mobile" value="оренбург">оренбург</option>
                            <option class="myOption-mobile" value="уфа">уфа</option>
                            <option class="myOption-mobile" value="таганрог">таганрог</option>
                        </select>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="collapse navbar-collapse mt-2" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto container d-flex justify-content-around">
            <li class="nav-item ">
                <a class="nav-link myNavLink" href="#">Акции <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link myNavLink" href="catalog.html">Каталог цветов</a>
            </li>
            <li class="nav-item dropdown myDropdown">
                <a class="nav-link dropdown-toggle myNavLink" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Букеты и композиции
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item myNavLink" href="#">Action</a>
                    <a class="dropdown-item myNavLink" href="#">Another action</a>
                    <a class="dropdown-item myNavLink" href="#">Something else here</a>
                </div>
            </li>

            <li class="nav-item dropdown myDropdown">
                <a class="nav-link dropdown-toggle myNavLink" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    свадебные букеты
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                    <a class="dropdown-item myNavLink" href="#">Action</a>
                    <a class="dropdown-item myNavLink" href="#">Another action</a>
                    <a class="dropdown-item myNavLink" href="#">Something else here</a>
                </div>
            </li>

            <li class="nav-item ">
                <a class="nav-link myNavLink" href="#">подарки </a>
            </li>

            <div class="dropdown-divider"></div>

            <div class="second-navbar">

                <li class="nav-item ">
                    <a class="nav-link newNavLink" href="#">О компании </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link newNavLink" href="#">Оплата и доставка </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link newNavLink" href="#">Контакты </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link newNavLink" href="#">Реквизиты </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link newNavLink" href="#">Отзывы </a>
                </li>
            </div>
        </ul>
    </div>
</nav