.myCards {
    position: relative;
    background: #fff;
    height: 350px;

    &__btn {
        display: none !important;
    }
}

.myContainer {
    position: absolute;
    width: 92%;
    height: inherit;
    transition: all 0.3s linear;
}


.cardContainer {
    margin: 0 auto;
    margin-bottom: 100px !important;
}

/* При наведении*/
.myCards:hover .myContainer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    background-color: #fff;
    height: auto;
}

.myCards:hover .myCards__btn {
    display: flex !important;
}

.myCards:hover .size {
    display: none;
}

/*---------------*/

%btn {
    margin: 0 auto;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #fff;
    border: 2px solid $red;
    transition: all 0.5s linear;
    font-size: 1.125rem;
    line-height: 30px;
    letter-spacing: 0.27em;
    text-transform: uppercase;
}

/*Кнопка заказать*/
.myBtn {
    width: 250px;
    @extend %btn;

    &:hover {
        color: #fff;
        background-color: $red;
    }
}


/*----------------*/

.feature {
    position: absolute;
    top: 60%;
    color: #fff;
    font-size: 1.125rem;
    line-height: 33px;
    width: 250px;
    text-transform: uppercase;
    z-index: 11;
    //margin-left: -1px;
    transition: all 0.3s linear;

    &__txt {
        margin: 0;
        text-align: center;
    }
}

.slider__item {
    height: 30vw !important;
    min-height: 250px !important;
}

.size {
    position: absolute;
    top: 27px;
    color: grey;
    right: 17%;
    font-size: 0.75rem;
    text-transform: uppercase;
    @include dflex(unset, unset);
    font-size: 1 rem;

    &__left {
        background: url(../img/w.png) no-repeat;
        background-position: 0px 20px;

        &--txt {
            width: 30px;
            height: 30px;
            text-align: center !important;
        }
    }

    &__right {
        background: url(../img/h.png) no-repeat;

        &--txt {
            padding-left: 6px;
        }
    }
}

img.imgW {
    width: 250px !important;
}

.myLink {
    color: $red !important;
}


.main-slider-container {
    position: relative;
}

.next {
    position: absolute;
    top: 45%;
    right: 20px;
}

.prev {
    position: absolute;
    top: 45%;
    left: 20px;
}

.padingNone {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.slick-dots {
    @include dflex(center, unset);

    margin: 0;
    padding: 10px 0;

    list-style-type: none;

    li {
        margin: 0;
    }

    button {
        display: block;
        width: 10px;
        height: 10px;
        padding: 0;

        border: none;
        border-radius: 100%;
        background-color: $pink !important;

        text-indent: -9999px;
    }

    li.slick-active button {
        background-color: $red !important;
    }
}

/*Картинки для  главного слайдера*/
.first-sl {
    background: url(../img/image.png)no-repeat center;
    background-size: cover;
}

.second-sl {
    background: url(../img/image.png)no-repeat center;
    background-size: cover;
}

.third-sl {
    background: url(../img/image.png)no-repeat center;
    background-size: cover;
}

.advantages-card {
    padding: 25px 28px 25px 28px;
    width: 30%;
    border: 1px solid $red;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        color: $red;
        word-break: break-all;
    }

    &__txt {
        text-align: center;
        word-break: break-all;
    }
}


.advantages-card {
    margin: 0 15px;
}

.reviews__item {
    padding: 25px 28px 25px 28px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin: 2px 15px;

    &--txt {
        font-size: 1.125rem;
        line-height: 25px;
        color: $grey
    }

    &--city {
        font-size: 0.75rem;
        line-height: 16px;
        color: $grey
    }
}

.reviews-container {
    position: relative;
}

.next-reviews {
    position: absolute;
    top: 45%;
    right: -10px;
}

.prev-reviews {
    position: absolute;
    top: 45%;
    left: -10px;
}

.reviews-name {
    font-size: 1rem;
    font-style: italic;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.075em;
    color: $black;
}

.reviews-date {
    font-size: 0.625rem;
    line-height: 16px;
    color: $grey;
}

.reviews-title {
    color: $grey !important;
}

.reviews-btn {
    @extend %btn;
    @include dflex(center, unset);
    width: 250px;
    height: 32px;

    font-size: 1rem;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: $red;
}

.reviews-btn:hover {
    background-color: $red;
}

@media screen and (max-width: 1025px) {
    .next-reviews {
        position: absolute;
        top: 40%;
        right: 20px;
    }

    .prev-reviews {
        position: absolute;
        top: 40%;
        left: 20px;
    }
}

@media screen and (max-width: 769px) {

    .advantages-card {
        width: 45%;
        margin-top: 20px;
    }

    .next-reviews {
        position: absolute;
        top: 40%;
        right: -5px;
    }

    .prev-reviews {
        position: absolute;
        top: 40%;
        left: -5px;
    }
}

@media screen and (max-width: 576px) {
    .myContainer {
        width: 100%;
    }

    .advantages-container {
        justify-content: center !important;
    }

    .advantages-card {
        width: 80%;
        border: none;
    }

    .next-reviews {
        position: absolute;
        top: 40%;
        right: 5px;
    }

    .prev-reviews {
        position: absolute;
        top: 40%;
        left: 5px;
    }
}


/*
.test{
    margin: 0 7px;
}


.test1{
    background: tomato;
}

.test2{
    background: seagreen;
}

.test3{
    background: sienna;
}

.test4{
    background: skyblue;
}

.test5{
    background: sandybrown;
}*/